@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w9uyql');
  src:  url('fonts/icomoon.eot?w9uyql#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w9uyql') format('truetype'),
    url('fonts/icomoon.woff?w9uyql') format('woff'),
    url('fonts/icomoon.svg?w9uyql#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linejoin-round:before {
  content: "\e912";
}
.icon-linejoin-bevel:before {
  content: "\e913";
}
.icon-linejoin-miter:before {
  content: "\e914";
}
.icon-linecap-butt:before {
  content: "\e915";
}
.icon-linecap-round:before {
  content: "\e916";
}
.icon-linecap-square:before {
  content: "\e917";
}
.icon-draworder-normal:before {
  content: "\e919";
}
.icon-draworder-fillstroke:before {
  content: "\e91a";
}
.icon-draworder-strokefill:before {
  content: "\e91b";
}
.icon-polyline:before {
  content: "\e902";
}
.icon-line:before {
  content: "\e918";
}
.icon-symmetries:before {
  content: "\e910";
}
.icon-palette:before {
  content: "\e911";
}
.icon-no-stroke .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-no-stroke .path2:before {
  content: "\e90d";
  margin-left: -0.986328125em;
  color: rgb(237, 28, 36);
}
.icon-no-fill .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.icon-no-fill .path2:before {
  content: "\e90f";
  margin-left: -0.986328125em;
  color: rgb(237, 28, 36);
}
.icon-fill:before {
  content: "\e900";
}
.icon-stroke:before {
  content: "\e901";
}
.icon-hexagon:before {
  content: "\e903";
}
.icon-print:before {
  content: "\f02f";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e908";
}
.icon-blog:before {
  content: "\e909";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-cog:before {
  content: "\e994";
}
.icon-magnet:before {
  content: "\e9ab";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
